body{
    background: rgb(101, 101, 235);
    font: normal 15pt arial;
}

header{
    color: white;
    text-align: center;
}

section{
 background: rgb(241, 225, 225);
 border-radius: 10px;
 padding: 15px;
 width: 500px;
 margin: auto ;
 box-shadow:  5px 5px 10px #0000004d;

}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input[type='number']{
    width: 150px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #0000004d;
}

.btn-contar{
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 2px 5px #0000004d;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}